.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sec1 {
    background-color: rgba(0, 0, 255, 0.63);
    border-radius: 20px;
    color: white;
    display: grid;
    text-align: center;
    grid-gap: 20px;
    padding: 20px;

}

.sec2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aliceblue;
    border-radius: 10px;
}

.sec3 {
    display: grid;
    grid-template-rows: repeat(5, 25px);
    justify-content: center;
    grid-gap: 10px;
}

.box {
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
}

.box1 {
    background-color: rgba(255, 0, 200, 0.24);
    color: rgb(248, 15, 54);
}

.box2 {
    background-color: rgba(204, 13, 163, 0.082);
    color: yellow;
}

.box3 {
    background-color: #00ff552c;
    color: green;
}

.box4 {
    background-color: rgba(47, 0, 255, 0.151);
    color: blue;
}

.box5 {
    background-color: rgba(22, 6, 95, 0.952);
    color: white;
    text-align: center;
}

.per {
    height: 100px;
    width: 100px;
    background-color: #2612dd3a;
    border-radius: 50%;
    display: inline-block;
    justify-self: center;
}

.num1 {
    font-size: 50px;
    font-style: oblique;
}

.num2 {
    opacity: 50%;
}

body {
    padding: 150px;
}

@media only screen and (max-width:834px) {
    .container {
        display: grid;
    }

    /* body {
        padding: 0px;
    } */

}

/* @media only screen and (max-width:1024px){
    .container{
        display:flex;
    }
    .sec1{
        width:20%;
    }
} */